<h1>{{title}}</h1>
<h2>Products</h2>
<div>
  <input type="text" placeholder="Name" [(ngModel)]="newProduct.name" />
  <select [(ngModel)]="newProduct.category">
    <option value="Sarees">Sarees</option>
    <option value="Salwars">Salwars</option>
    <option value="Jewelry">Jewelry</option>
    <option value="Dresses">Dresses</option>
  </select>
  <button (click)="addProduct()">Add Product</button>
</div>
<ul>
  <li *ngFor="let product of products">
    {{ product.name }} ({{ product.category }})
    <button (click)="deleteProduct(product.id)">Delete</button>
  </li>
</ul>
